body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.App{
  width: 400px;
  min-height: 500px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
}

.heading{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.expense-container{
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.Credit{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}

.Debit{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.Total{
  grid-column: span 2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}

.statements-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  max-height: fit-content;
}

.statement{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.add{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: solid
}